{% load static %}
{% load i18n %}
{% load sass_tags %}

<!DOCTYPE html>
{% get_current_language as LANGUAGE_CODE %}
<html lang="{{ LANGUAGE_CODE }}" data-brand="none">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, height=device-height, initial-scale=1.0, minimum-scale=1.0">
    <title>{% block title %} Django Boilerplate {% endblock title %}</title>
    <link href="{% sass_src 'styles/main.scss' %}" rel="stylesheet" type="text/css" />
  </head>
  <body>
    {% block content %}
    {% endblock content %}
  </body>
</html>